<!DOCTYPE html>
<html lang="en">
  <%- include('../../partials/header.ejs') %>
  <body>
    <%- include('../../partials/nav.ejs') %>

    <div class="container">
      <h2 class="container-title">Create a blog</h2>
      <form method="post" action="/blogs/create">
        <label for="blogTitle">Title</label>
        <input type="text" id="blogTitle" name="blogTitle" required />

        <label for="blogSnippet">Snippet</label>
        <input type="text" id="blogSnippet" name="blogSnippet" required />

        <label for="blogBody">Body</label>
        <textarea id="blogBody" name="blogBody" rows="8" required></textarea>
        <div class="container-title">
          <button>Submit</button>
        </div>
      </form>
    </div>
  </body>
  <%- include('../../partials/footer.ejs')%>
</html>
