<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/header.ejs') %>

  <body>
    <%- include('../partials/nav.ejs') %>

    <div class="container-about">
      <h1>About Sudhanshu Dubey</h1>
      <p>
        Welcome to my personal website! I am Sudhanshu Dubey, an up and coming
        developer.
      </p>
      <p>
        This website is crafted with passion and skill, using the following
        technologies:
        <strong>React</strong>, <strong>Node</strong>, and
        <strong>Express</strong>.
      </p>
      <p>
        I am dedicated to creating innovative and high-quality web applications.
        Stay tuned for more exciting projects and updates!
      </p>
    </div>
  </body>
  <%- include('../partials/footer.ejs')%>
</html>
