<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/header.ejs') %>
  <body>
    <%- include('../partials/nav.ejs') %>

    <div class="container-about">
      <h1>Error occurred</h1>
      <p><%=error%></p>
      <div class="hyperlinkStyle">
        <p>Please check the URL or go back to the <a href="/"><strong>Home Page</strong></a>.</p>
      </div>
    </div>
  </body>
  <%- include('../partials/footer.ejs')%>
</html>
